{% load static %}
<html>
<!--blog/views.py seaches for this file and passes it along as the default page of the blog-->
    <head>
        <title>Lito's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Girassol|Noticia+Text|Permanent+Marker|Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
            <h1><a href="/">Lito's Blog</a></h1>
            <h4>"People. Purpose. Pupusas"</h4>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <!-- This is the part Django fills in with the post_list file -->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
